.App {
  text-align: center;
}

.coin-game {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.tossContainer {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  min-height: 1110px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.tossparent {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  min-height: 450px;
  width: 30%;
  border-radius: 12px;
}